extend base

block  content
    section.navigation 
        .nav-items 
            <svg class="fill-current h-8 w-8 mr-2" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512">
                <path fill="#ffff" d="M445.355,67.036l-0.391-0.392c-19.986-19.006-59.898,14.749-59.898,14.749l-72.463,57.049l-76.285-13.52 c11.005-15.953,14.32-31.79,6.983-39.127c-9.503-9.503-33.263-1.15-53.068,18.655c-3.464,3.464-6.568,7.049-9.297,10.657 l-58.574-10.381L83.346,137.97l159.044,72.979L140.427,334.152l-63.505-11.906l-16.083,16.06L173.696,451.16l16.058-16.082 l-11.906-63.506l123.204-101.963l72.979,159.043l33.244-39.016l-10.381-58.574c3.609-2.729,7.193-5.832,10.658-9.297 c19.805-19.805,28.158-43.564,18.656-53.066c-7.339-7.338-23.177-4.022-39.13,6.982l-13.52-76.284l57.049-72.464 C430.607,126.934,464.363,87.021,445.355,67.036z"></path>
            </svg>

            p.title Time to have more fun
        button.add-place 
            a(href="#") Add place 
    section.filters 
        .filtered-items 
            h2.title This year we are going to  ...
            .filter-wrapper 
                .items 
                    p.category  Type 
                    .item-filters 
                        label(for="adventure") 
                            input(type="radio", name="adventure", value="adventure")
                            span adventure 
                    .item-filters 
                        label(for="beach") 
                            input(type="radio", name="beach", value="beach")
                            span beach 
                    .item-filters 
                        label(for="City") 
                            input(type="radio", name="City", value="City")
                            span City 
                    .item-filters 
                        label(for="Ski") 
                            input(type="radio", name="Ski", value="Ski")
                            span Ski 
                .items 
                    p.category  Temperature 
                    .item-filters 
                        label(for="Hot") 
                            input(type="radio", name="Hot", value="Hot")
                            span Hot 
                    .item-filters 
                        label(for="Cold") 
                            input(type="radio", name="Cold", value="Cold")
                            span Cold 
                    .item-filters 
                        label(for="Temperate") 
                            input(type="radio", name="Temperate", value="Temperate")
                            span Temperate 
                .items 
                    p.category  Type 
                    .item-filters 
                        label(for="Long") 
                            input(type="radio", name="Long", value="Long")
                            span Long 
                    .item-filters 
                        label(for="medium") 
                            input(type="radio", name="medium", value="medium")
                            span medium 
                    .item-filters 
                        label(for="short") 
                            input(type="radio", name="short", value="short")
                            span short 
            button.tell-me Tell me already!!!
        .filtered-place 
            img.plane-img(src="./assets/plane.png" alt="")
            img.gif(src="./assets/Airplane Cartoon Drawing.gif" alt="")
            .text-wrapper.inactive
                img.place-image-filtered(src="https://images.unsplash.com/photo-1571893544028-06b07af6dade?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&h=350&q=80")
                .place-description 
                    h2.title Rio de janeiro,  Brazil 
                    p.description Aruba is a small Caribbean island located off the coast of Venezuela, known for its stunning white sandy beaches, crystal-clear turquoise waters, and vibrant coral reefs.
                    ul.tags 
                        li
                            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                            span flight
                        li
                            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                            span Flight
                        li
                            svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                            span Flight

    section.places 
        h1.title Places we want to go 
        .i-want-to-go 
            each place in places
                .place-container 
                    img(src=`${place.imageUrl}` alt="", srcset="")
                    .place-text-wrapper 
                        h2.title= place.name
                        ul.places-tags 
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                    path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                                span= place.parameters[0] 
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                    path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                                span= place.parameters[1] 
                            li 
                                svg(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 24 24", width="20", height="20", class="inline-block w-4 mr-1 fill-current")
                                    path(class="heroicon-ui", fill="#6D6B6E", d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM20 12l-8-8H7a3 3 0 0 0-3 3v5l8 8 8-8zM7 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                                span= place.parameters[2] 

